@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="container">
    <h1>Thanks for  the Feed Back  </h1>

    <a href='@Url.Action("Index","Home")' class="btn btn-primary">Back to Default Page </a>


</div>